@use './variables'

.container-msg
  position: absolute
  bottom: 0
  width: 100%
  left: 0
  height: max-content
  border-radius: variables.$border-radius-default
  padding: 1rem
  background-color: #a70a02

  animation: openAndClose 500ms forwards

@keyframes openAndClose 
  0% 
    opacity: 0
  
  100% 
    opacity: 1

@media screen and ( max-width: 800px ) 
  .container-msg
    font-size: 4rem
    left: 0

@media screen and ( max-width: 768px ) 
  .container-msg
    left: 0

@media screen and ( max-width: 360px )
  .container-msg
    font-size: 1.8rem !important
    left: 0

@media screen and (max-width: 320px) 
  .container-msg
    font-size: 1.5rem !important
    left: 0
  


