@use './variables'

.letter-container
  display: flex
  justify-content: center
  align-items: center
  min-height: 9rem
  min-width: 9rem
  color: #000
  border: .2rem solid #000
  background-color: variables.$white
  

  div
    font-size: 7rem
    font-weight: 900
    text-transform: uppercase

@media screen and ( max-width: 768px ) 
  .letter-container
    min-height: 7rem
    min-width: 7rem

    div
      font-size: 5.5rem

@media screen and ( max-width: 428px )
  .letter-container
    min-height: 5rem
    min-width: 5rem

    div
      font-size: 4rem


@media screen and ( max-width: 390px )
  .letter-container div
    font-size: 3rem


@media screen and ( max-width: 360px )
  .letter-container
    min-height: 4rem
    min-width: 4rem

    div
      font-size: 2.5rem

@media screen and ( max-width: 300px )


